html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block; }

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

a {
  background: 0 0; }

a:active, a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button, select {
  text-transform: none; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], html input[disabled] {
  cursor: default; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
  height: auto; }

input[type=search] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: 700; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td, th {
  padding: 0; }

@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.eot?da08a');
  src: url('../fonts/icomoon.eot?da08a#iefix') format('embedded-opentype'), url('../fonts/icomoon.ttf?da08a') format('truetype'), url('../fonts/icomoon.woff?da08a') format('woff'), url('../fonts/icomoon.svg?da08a#icomoon') format('svg');
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-github_badge:before {
  content: "\e609"; }

.icon-jquery:before {
  content: "\e650"; }

.icon-sass:before {
  content: "\e64b"; }

.icon-html5:before {
  content: "\e636"; }

.icon-joomla:before {
  content: "\e641"; }

.icon-less:before {
  content: "\e658"; }

.icon-gulp:before {
  content: "\e663"; }

.icon-code:before {
  content: "\e696"; }

.icon-responsive:before {
  content: "\e697"; }

.icon-chevron-thin-left:before {
  content: "\e902"; }

.icon-chevron-thin-right:before {
  content: "\e903"; }

.icon-quote:before {
  content: "\e904"; }

.icon-notification:before {
  content: "\e906"; }

.icon-popup:before {
  content: "\e907"; }

/* Generated with Bounce.js. Edit at http://goo.gl/335BE4 */
@-webkit-keyframes animation {
  0% {
    -webkit-transform: matrix3d(0.5, 0, 0, 0, 0, 0.5, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(0.5, 0, 0, 0, 0, 0.5, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }

  3.2% {
    -webkit-transform: matrix3d(0.673, 0.192, 0, 0, 0.126, 0.673, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(0.673, 0.192, 0, 0, 0.126, 0.673, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }

  4.5% {
    -webkit-transform: matrix3d(0.743, 0.25, 0, 0, 0.163, 0.743, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(0.743, 0.25, 0, 0, 0.163, 0.743, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }

  6.41% {
    -webkit-transform: matrix3d(0.836, 0.301, 0, 0, 0.196, 0.836, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(0.836, 0.301, 0, 0, 0.196, 0.836, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }

  9.01% {
    -webkit-transform: matrix3d(0.94, 0.308, 0, 0, 0.201, 0.94, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(0.94, 0.308, 0, 0, 0.201, 0.94, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }

  12.71% {
    -webkit-transform: matrix3d(1.032, 0.234, 0, 0, 0.154, 1.032, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1.032, 0.234, 0, 0, 0.154, 1.032, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }

  13.51% {
    -webkit-transform: matrix3d(1.044, 0.212, 0, 0, 0.14, 1.044, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1.044, 0.212, 0, 0, 0.14, 1.044, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }

  17.92% {
    -webkit-transform: matrix3d(1.07, 0.098, 0, 0, 0.066, 1.07, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1.07, 0.098, 0, 0, 0.066, 1.07, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }

  18.92% {
    -webkit-transform: matrix3d(1.069, 0.077, 0, 0, 0.052, 1.069, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1.069, 0.077, 0, 0, 0.052, 1.069, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }

  25.23% {
    -webkit-transform: matrix3d(1.038, -0.001, 0, 0, -0.001, 1.038, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1.038, -0.001, 0, 0, -0.001, 1.038, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }

  29.03% {
    -webkit-transform: matrix3d(1.016, -0.015, 0, 0, -0.01, 1.016, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1.016, -0.015, 0, 0, -0.01, 1.016, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }

  31.43% {
    -webkit-transform: matrix3d(1.006, -0.017, 0, 0, -0.011, 1.006, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1.006, -0.017, 0, 0, -0.011, 1.006, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }

  34.63% {
    -webkit-transform: matrix3d(0.997, -0.014, 0, 0, -0.01, 0.997, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(0.997, -0.014, 0, 0, -0.01, 0.997, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }

  40.14% {
    -webkit-transform: matrix3d(0.992, -0.007, 0, 0, -0.005, 0.992, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(0.992, -0.007, 0, 0, -0.005, 0.992, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }

  56.46% {
    -webkit-transform: matrix3d(1, 0.001, 0, 0, 0.001, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1, 0.001, 0, 0, 0.001, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }

  62.36% {
    -webkit-transform: matrix3d(1.001, 0.001, 0, 0, 0, 1.001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1.001, 0.001, 0, 0, 0, 1.001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }

  81.48% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }

  84.68% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }

  100% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); } }
@keyframes animation {
  0% {
    -webkit-transform: matrix3d(0.5, 0, 0, 0, 0, 0.5, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(0.5, 0, 0, 0, 0, 0.5, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }

  3.2% {
    -webkit-transform: matrix3d(0.673, 0.192, 0, 0, 0.126, 0.673, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(0.673, 0.192, 0, 0, 0.126, 0.673, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }

  4.5% {
    -webkit-transform: matrix3d(0.743, 0.25, 0, 0, 0.163, 0.743, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(0.743, 0.25, 0, 0, 0.163, 0.743, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }

  6.41% {
    -webkit-transform: matrix3d(0.836, 0.301, 0, 0, 0.196, 0.836, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(0.836, 0.301, 0, 0, 0.196, 0.836, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }

  9.01% {
    -webkit-transform: matrix3d(0.94, 0.308, 0, 0, 0.201, 0.94, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(0.94, 0.308, 0, 0, 0.201, 0.94, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }

  12.71% {
    -webkit-transform: matrix3d(1.032, 0.234, 0, 0, 0.154, 1.032, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1.032, 0.234, 0, 0, 0.154, 1.032, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }

  13.51% {
    -webkit-transform: matrix3d(1.044, 0.212, 0, 0, 0.14, 1.044, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1.044, 0.212, 0, 0, 0.14, 1.044, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }

  17.92% {
    -webkit-transform: matrix3d(1.07, 0.098, 0, 0, 0.066, 1.07, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1.07, 0.098, 0, 0, 0.066, 1.07, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }

  18.92% {
    -webkit-transform: matrix3d(1.069, 0.077, 0, 0, 0.052, 1.069, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1.069, 0.077, 0, 0, 0.052, 1.069, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }

  25.23% {
    -webkit-transform: matrix3d(1.038, -0.001, 0, 0, -0.001, 1.038, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1.038, -0.001, 0, 0, -0.001, 1.038, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }

  29.03% {
    -webkit-transform: matrix3d(1.016, -0.015, 0, 0, -0.01, 1.016, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1.016, -0.015, 0, 0, -0.01, 1.016, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }

  31.43% {
    -webkit-transform: matrix3d(1.006, -0.017, 0, 0, -0.011, 1.006, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1.006, -0.017, 0, 0, -0.011, 1.006, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }

  34.63% {
    -webkit-transform: matrix3d(0.997, -0.014, 0, 0, -0.01, 0.997, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(0.997, -0.014, 0, 0, -0.01, 0.997, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }

  40.14% {
    -webkit-transform: matrix3d(0.992, -0.007, 0, 0, -0.005, 0.992, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(0.992, -0.007, 0, 0, -0.005, 0.992, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }

  56.46% {
    -webkit-transform: matrix3d(1, 0.001, 0, 0, 0.001, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1, 0.001, 0, 0, 0.001, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }

  62.36% {
    -webkit-transform: matrix3d(1.001, 0.001, 0, 0, 0, 1.001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1.001, 0.001, 0, 0, 0, 1.001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }

  81.48% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }

  84.68% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }

  100% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); } }

* {
  box-sizing: border-box; }

html, body {
  height: 100%;
  background: #172027;
  color: #f0f0f0;
  font-family: 'Neue Haas Unica W01', 'Nimbus Sans L', Helvetica, Arial, sans-serif;
  font-size: 1em;
  line-height: 1.5;
  -webkit-tap-highlight-color: rgba(34, 47, 58, 0.25); }
  html.noscroll, body.noscroll {
    overflow: hidden; }

img {
  max-width: 100%;
  height: auto; }

h1 {
  font-size: 1.3em;
  line-height: 1.54839em;
  margin-top: 1.54839em;
  margin-bottom: 0.77419em; }
  @media screen and (min-width: 600px) {
    h1 {
      font-size: 1.9375em; } }

h2 {
  font-size: 1.25em;
  line-height: 1.92em;
  margin-top: 1.92em;
  margin-bottom: 0.96em; }
  @media screen and (min-width: 600px) {
    h2 {
      font-size: 1.5625em; } }

h3 {
  font-size: 1.25em;
  line-height: 1.2em;
  margin-top: 1.2em;
  margin-bottom: 1.2em; }

h4 {
  font-size: 1em;
  line-height: 1.5em;
  margin-top: 1.5em;
  margin-bottom: 1.5em; }

h1, h2, h3, h4 {
  font-family: 'Neue Haas Unica W01', 'Nimbus Sans L', Helvetica, Arial, sans-serif;
  text-align: center;
  font-weight: 300; }

h1:after, h2:after {
  content: '';
  width: 140px;
  height: 4px;
  display: block;
  margin: 24px auto 0;
  background: #a83a24; }

h2:after {
  margin: 12px auto;
  background: #f0f0f0; }

h4 {
  font-size: 1em; }

p {
  font-size: 85%;
  line-height: 1.625em;
  margin: 1.5em 0;
  text-align: center; }
  @media screen and (min-width: 600px) {
    p {
      font-size: 1em;
      line-height: 1.5; } }

a, a:visited {
  color: #a83a24;
  text-decoration: none; }

a:hover {
  color: #a83a24; }

.small-bold, h4, .tagline p, nav.main-nav ul li a, .button, .client-info .client-name {
  font-size: 75%;
  font-weight: 700;
  text-transform: uppercase; }

.thin-large {
  font-size: 1.25em;
  font-weight: 300;
  line-height: 1.825; }

.main-header {
  background: #22303a;
  width: 100%;
  margin: 0;
  padding: 0 20px;
  position: absolute;
  transition: padding 0.2s ease-in-out, max-height 0.2s ease-in-out, opacity 0.3s ease-in-out;
  max-height: 50px;
  overflow: hidden;
  opacity: 1;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
  @media screen and (min-width: 700px) {
    .main-header {
      margin: 10px 0; } }
  @media screen and (min-width: 1000px) {
    .main-header {
      margin: 20px 0;
      padding: 0 60px;
      -webkit-align-items: baseline;
          -ms-flex-align: baseline;
              align-items: baseline;
      -webkit-flex-wrap: nowrap;
          -ms-flex-wrap: nowrap;
              flex-wrap: nowrap; } }
  .main-header.is-open {
    max-height: 500px;
    z-index: 400; }
  .main-header.fixed {
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    background: #22303a;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    margin: 0;
    padding: 0 20px;
    position: fixed;
    top: 0;
    left: 50%;
    z-index: 100;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    max-width: 100%; }
    .main-header.fixed .logo h2 {
      font-size: 1.25em; }
    @media screen and (min-width: 700px) {
      .main-header.fixed {
        max-width: calc(100% - 40px); } }
    @media screen and (min-width: 1200px) {
      .main-header.fixed {
        max-width: 92%; } }
    @media screen and (min-width: 1600px) {
      .main-header.fixed {
        max-width: 1460px; } }
  .main-header.noscroll {
    opacity: 0; }

.logo {
  -webkit-flex-basis: 66.6%;
      -ms-flex-preferred-size: 66.6%;
          flex-basis: 66.6%; }

.menu-toggle {
  -webkit-flex-basis: 33.3%;
      -ms-flex-preferred-size: 33.3%;
          flex-basis: 33.3%; }

.tagline {
  display: none; }

@media screen and (min-width: 700px) {
  .logo, .tagline, .menu-toggle {
    -webkit-flex-basis: 33.33%;
        -ms-flex-preferred-size: 33.33%;
            flex-basis: 33.33%;
    display: initial; } }

nav.main-nav {
  -webkit-flex-basis: 100%;
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%;
  padding: 36px 0;
  text-align: center; }

@media screen and (min-width: 1000px) {
  .logo, .tagline, .menu-toggle, nav.main-nav {
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    padding: 0; } }

.logo h2 {
  margin: 0.75em 0;
  font-weight: 700;
  line-height: 1;
  letter-spacing: -1px;
  text-align: left; }
  .logo h2:after {
    display: none; }
.logo span {
  color: #a83a24; }

.tagline p {
  color: #f0f0f0;
  line-height: 1;
  text-align: center; }

nav.main-nav ul {
  margin: 0;
  padding: 0;
  list-style: none; }
  @media screen and (min-width: 1000px) {
    nav.main-nav ul {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-justify-content: flex-end;
          -ms-flex-pack: end;
              justify-content: flex-end; } }
  nav.main-nav ul li {
    padding: 16px 0; }
    @media screen and (min-width: 1000px) {
      nav.main-nav ul li {
        padding: 0; }
        nav.main-nav ul li:not(:last-of-type) {
          margin-right: 24px; } }
    @media screen and (min-width: 1200px) {
      nav.main-nav ul li:not(:last-of-type) {
        margin-right: 36px; } }
    nav.main-nav ul li a {
      color: #f0f0f0;
      padding: 16px 0;
      transition: color 0.2s ease-in-out; }
      nav.main-nav ul li a:hover {
        color: #a83a24; }
      nav.main-nav ul li a:focus {
        outline: 0; }
      nav.main-nav ul li a.active {
        color: #a83a24; }
nav.main-nav::after {
  content: '';
  display: block;
  background: #a83a24;
  width: 160px;
  height: 4px;
  margin: 36px auto 48px; }
  @media screen and (min-width: 1000px) {
    nav.main-nav::after {
      display: none; } }

.menu-toggle {
  width: 40px;
  height: 40px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end; }
  .menu-toggle:hover {
    cursor: pointer; }
  @media screen and (min-width: 1000px) {
    .menu-toggle {
      display: none; } }
  .menu-toggle .menu-bar, .menu-toggle .menu-bar:before, .menu-toggle .menu-bar:after {
    content: '';
    background: #f0f0f0;
    display: block;
    position: relative;
    width: 25px;
    height: 4px;
    transition: all 0.2s ease-in-out; }
  .menu-toggle .menu-bar:before {
    top: 8px; }
  .menu-toggle .menu-bar:after {
    top: -12px; }
  .menu-toggle.is-open .menu-bar {
    background: transparent; }
  .menu-toggle.is-open .menu-bar:before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transform-origin: center;
        -ms-transform-origin: center;
            transform-origin: center;
    top: 0; }
  .menu-toggle.is-open .menu-bar:after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    -webkit-transform-origin: center;
        -ms-transform-origin: center;
            transform-origin: center;
    top: -4px; }

.overlay {
  background: rgba(23, 32, 39, 0.95);
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  -webkit-transform: translateZ(0); }
  .overlay.is-visible {
    z-index: 101;
    opacity: 1; }

.modal {
  background: #22303a;
  box-shadow: none;
  position: fixed;
  top: 40px;
  left: 20%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 90%;
  height: calc(100vh - 60px);
  z-index: -1;
  opacity: 0;
  overflow-y: scroll;
  transition: all 0.3s ease-in-out; }
  @media screen and (min-width: 600px) {
    .modal {
      width: calc(100% - 40px);
      height: calc(100vh - 60px); } }
  @media screen and (min-width: 1200px) {
    .modal {
      width: 92%; } }
  @media screen and (min-width: 1600px) {
    .modal {
      top: 50px;
      width: 1460px;
      height: calc(100vh - 70px); } }
  .modal.is-visible {
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.4);
    left: 50%;
    z-index: 102;
    opacity: 1; }
  .modal:focus {
    outline: 0; }
  .modal img {
    margin: 0;
    float: none;
    display: block; }
  .modal header {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0;
    height: 160px; }
    @media screen and (min-width: 600px) {
      .modal header {
        height: 200px; } }
    @media screen and (min-width: 700px) {
      .modal header {
        height: 228px; } }
  .modal h1.modal-title {
    font-size: 1.5em;
    line-height: 1;
    margin: 0; }
    .modal h1.modal-title:after {
      margin: 12px auto 0; }
    @media screen and (min-width: 600px) {
      .modal h1.modal-title {
        font-size: 1.9375em; }
        .modal h1.modal-title:after {
          margin: 24px auto 0; } }
  .modal .modal-header {
    background: #f0f0f0;
    padding: 36px 12px 0 0; }
    @media screen and (min-width: 600px) {
      .modal .modal-header {
        padding: 60px 12px 0 0; } }
    @media screen and (min-width: 700px) {
      .modal .modal-header {
        padding: 84px 24px 0 0; } }
  .modal .modal-content {
    margin: 0 auto;
    padding: 24px 0 48px;
    max-width: 90%; }
    @media screen and (min-width: 700px) {
      .modal .modal-content {
        padding: 42px 0 84px;
        max-width: 620px; } }

.modal::-webkit-scrollbar {
  width: 4px; }
  @media screen and (min-width: 800px) {
    .modal::-webkit-scrollbar {
      width: 8px; } }

.modal::-webkit-scrollbar-track {
  background: #283844; }

.modal::-webkit-scrollbar-thumb {
  background: #a83a24; }
  .modal::-webkit-scrollbar-thumb:hover {
    background: #a83a24; }

.close {
  width: 40px;
  height: 40px;
  position: fixed;
  top: 0;
  right: 0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  opacity: 0;
  z-index: -1;
  transition: all 0.3s ease-in-out; }
  .close.is-visible {
    opacity: 1;
    z-index: 103;
    right: 5%; }
    @media screen and (min-width: 600px) {
      .close.is-visible {
        right: 20px; } }
    @media screen and (min-width: 1200px) {
      .close.is-visible {
        right: 10px; } }
  .close .close-bar, .close .close-bar:before, .close .close-bar:after {
    content: '';
    background: transparent;
    display: block;
    position: relative;
    width: 20px;
    height: 4px; }
  .close .close-bar:before, .close .close-bar::after {
    background: #f0f0f0;
    -webkit-transform-origin: center;
        -ms-transform-origin: center;
            transform-origin: center;
    transition: background 0.2s ease-in-out; }
  .close .close-bar:before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 0; }
  .close .close-bar:after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: -4px; }
  .close:hover {
    cursor: pointer; }
    .close:hover .close-bar:before, .close:hover .close-bar:after {
      background: #a83a24; }

#ajaxBusy {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #22303a;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.button {
  color: #a83a24;
  background: #f0f0f0;
  border: 1px solid #f0f0f0;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  padding: 1.1em 0;
  text-align: center;
  margin: 36px auto 12px;
  max-width: 200px;
  display: block;
  position: relative;
  letter-spacing: 2px;
  transition: all 0.2s ease-in-out; }
  .button:hover {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    top: -1px; }

.icons-container {
  margin: 0 auto;
  max-width: 72.5%;
  padding: 0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }
.icons span {
  color: #707070;
  font-size: 2em; }

.clients-wrap {
  background: #286167;
  padding: 84px 0 120px;
  position: relative; }
  .clients-wrap .client {
    position: relative;
    display: none;
    -webkit-animation: animation 750ms linear both;
            animation: animation 750ms linear both; }
    .clients-wrap .client.active {
      display: block; }

.client-info {
  text-align: center; }
  .client-info img {
    max-width: 74px; }
  .client-info a {
    color: #f0f0f0; }
  .client-info .client-name {
    display: block;
    margin-top: 10px;
    line-height: 0.25;
    letter-spacing: 1px; }
  .client-info .client-company {
    font-size: 60%;
    text-transform: uppercase; }

.client-text p {
  margin-top: 1em;
  position: relative;
  font-weight: 300;
  line-height: 1.825;
  font-size: 1.025em;
  text-align: center; }
  @media screen and (min-width: 1000px) {
    .client-text p {
      font-size: 1.25em;
      text-align: left; } }
  .client-text p:before, .client-text p:after {
    content: '\e904';
    font-family: icomoon;
    display: inline;
    position: absolute;
    padding: 0;
    line-height: 1;
    color: #a83a24;
    font-size: 1.625em; }
  .client-text p:before {
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg);
    margin: -0 0 0 -28px;
    display: none; }
    @media screen and (min-width: 600px) {
      .client-text p:before {
        display: initial; } }
    @media screen and (min-width: 1000px) {
      .client-text p:before {
        margin: -1px 0 0 -36px; } }
  .client-text p:after {
    margin: 5px 0 0 5px; }
    @media screen and (min-width: 1000px) {
      .client-text p:after {
        margin: 5px 0 0 5px; } }

.client-counter {
  max-width: 100%;
  text-align: center;
  margin: 0;
  position: absolute;
  left: 50%;
  bottom: 14.25%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%); }
  @media screen and (min-width: 1000px) {
    .client-counter {
      margin: 48px auto 0;
      position: relative;
      left: auto;
      bottom: auto;
      -webkit-transform: none;
          -ms-transform: none;
              transform: none; } }
  .client-counter > div {
    width: 10px;
    height: 10px;
    background: #36858c;
    border-radius: 50%;
    display: inline-block;
    margin: 0 10px 0 0;
    cursor: pointer;
    transition: all 0.2s ease-in-out; }
    .client-counter > div:last-of-type {
      margin: 0; }
    .client-counter > div:hover, .client-counter > div.active {
      background: #49afb8; }

.client-prev, .client-next {
  width: 40px;
  height: 40px;
  color: #49afb8;
  cursor: pointer;
  font-size: 2.25em;
  position: absolute;
  bottom: 12.25%;
  width: 50%;
  transition: all 0.2s ease-in-out;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-tap-highlight-color: transparent; }
  @media screen and (min-width: 1000px) {
    .client-prev, .client-next {
      top: 50%;
      -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
              transform: translateY(-50%);
      width: auto; } }
  .client-prev:hover, .client-next:hover {
    color: #a83a24; }

.client-prev {
  left: 0; }
  .client-prev:before {
    content: "\e902";
    font-family: icomoon; }
  @media screen and (min-width: 1000px) {
    .client-prev {
      left: 40px; } }

.client-next {
  right: 0; }
  .client-next:before {
    content: "\e903";
    font-family: icomoon; }
  @media screen and (min-width: 1000px) {
    .client-next {
      right: 40px; } }

div.sections {
  padding: 0;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  max-width: 100%; }
  @media screen and (min-width: 700px) {
    div.sections {
      max-width: calc(100% - 40px); } }
  @media screen and (min-width: 1200px) {
    div.sections {
      max-width: 92%; } }
  @media screen and (min-width: 1600px) {
    div.sections {
      max-width: 1460px; } }

section {
  min-height: 72.5vh; }

.container {
  margin: 0 auto;
  max-width: 290px; }
  @media screen and (min-width: 360px) {
    .container {
      max-width: 325px; } }
  @media screen and (min-width: 600px) {
    .container {
      max-width: 460px; } }

.content-container {
  margin: 0 auto;
  max-width: 90%; }
  @media screen and (min-width: 700px) {
    .content-container {
      max-width: 620px; } }

.home {
  background: #22303a;
  position: relative;
  margin: 0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 72.5vh; }
  @media screen and (min-width: 600px) {
    .home {
      min-height: 70vh; } }
  @media screen and (min-width: 1000px) {
    .home {
      min-height: 90vh; } }
  @media screen and (min-width: 1400px) {
    .home {
      min-height: 82.5vh; } }
  .home .container {
    margin: 20vh auto 0; }
    @media screen and (min-width: 600px) {
      .home .container {
        margin: 21vh auto 0; } }
    @media screen and (min-width: 1000px) {
      .home .container {
        margin: 28vh auto 0; } }
    .home .container p {
      text-align: center; }

.projects {
  background: #172027;
  position: relative; }

figure {
  margin: 0 0 20px;
  position: relative;
  cursor: pointer;
  overflow: hidden; }
  figure:last-of-type {
    margin: 0; }
  figure img {
    display: block; }
  figure figcaption {
    color: #f0f0f0;
    background: rgba(168, 58, 36, 0.95);
    padding: 24px 0;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    figure figcaption .projects-container {
      max-width: 90%;
      margin: 0 auto; }
      @media screen and (min-width: 1000px) {
        figure figcaption .projects-container {
          max-width: 300px; } }
      figure figcaption .projects-container h2, figure figcaption .projects-container h3 {
        margin-top: 0; }
      figure figcaption .projects-container p {
        text-align: center; }
    @media screen and (min-width: 1000px) {
      figure figcaption {
        position: absolute;
        top: 0;
        left: 0;
        width: 33.3%;
        height: 100%;
        transition: all 0.2s ease-in-out; } }
  figure:nth-of-type(2n) figcaption {
    background: #22303a; }
    @media screen and (min-width: 1000px) {
      figure:nth-of-type(2n) figcaption {
        border-right: 0;
        left: auto;
        right: 0; } }
  figure:nth-of-type(2n) .button {
    color: #22303a; }

.about {
  background: #22303a;
  padding: 0; }
  .about header {
    text-align: center;
    margin: 0 auto; }
    .about header .container {
      padding: 84px 0 0; }
    .about header img {
      max-width: 100px; }
    .about header h1 {
      margin: 0.85em 0 0; }
  .about article {
    margin: 0 auto 136px;
    padding-top: 12px; }

.contact {
  background: #22303a;
  padding: 48px 0 180px; }
  .contact header h1 {
    margin-bottom: 1.025em; }
  .contact header p {
    margin: 0 auto;
    font-size: 1.025em;
    font-weight: 300;
    letter-spacing: 2px;
    text-align: center; }
    @media screen and (min-width: 600px) {
      .contact header p {
        font-size: 1.225em; } }
  .contact header a {
    color: #f0f0f0; }
    .contact header a:hover {
      color: #a83a24; }

.contact-form {
  max-width: 460px;
  margin: 0 auto;
  padding: 36px 0 0; }
  .contact-form input, .contact-form textarea {
    width: 100%;
    border: 0;
    font-size: 90%; }
  .contact-form input, .contact-form textarea {
    background: #1e2932;
    border: 1px solid #273642;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2) inset;
    padding: 8px 12px;
    margin-bottom: 8px; }
    .contact-form input:focus, .contact-form textarea:focus {
      outline: 0; }
  .contact-form textarea {
    display: block;
    height: 120px;
    margin-bottom: 20px; }
  .contact-form input[type="submit"] {
    background: #a83a24;
    padding: 16px 0;
    line-height: 1;
    font-size: 75%;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    box-shadow: none;
    transition: all 0.2s ease-in-out; }
    .contact-form input[type="submit"]:hover {
      background: #bd3f29; }
  .contact-form input::-webkit-input-placeholder, .contact-form textarea::-webkit-input-placeholder {
    color: #8a8a8a;
    font-size: 70%;
    font-weight: 700;
    line-height: 2.25;
    letter-spacing: 2px;
    text-transform: uppercase; }
  .contact-form input::-moz-placeholder, .contact-form textarea::-moz-placeholder {
    color: #8a8a8a;
    font-size: 70%;
    font-weight: 700;
    line-height: 2.25;
    letter-spacing: 2px;
    text-transform: uppercase;
    opacity: 1; }
  .contact-form input:-ms-input-placeholder, .contact-form textarea:-ms-input-placeholder {
    color: #8a8a8a;
    font-size: 70%;
    font-weight: 700;
    line-height: 2.25;
    letter-spacing: 2px;
    text-transform: uppercase; }
  .contact-form input:-moz-placeholder, .contact-form textarea:-moz-placeholder {
    color: #8a8a8a;
    font-size: 70%;
    font-weight: 700;
    line-height: 2.25;
    letter-spacing: 2px;
    text-transform: uppercase;
    opacity: 1; }

footer {
  background: #1e2932;
  min-height: 240px;
  padding: 60px 20px;
  text-align: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
  @media screen and (min-width: 1000px) {
    footer {
      text-align: left; } }
  @media screen and (min-width: 1200px) {
    footer {
      padding: 60px 40px; } }
  @media screen and (min-width: 1600px) {
    footer {
      padding: 60px; } }
  footer > div {
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%; }
    @media screen and (min-width: 1000px) {
      footer > div p.address {
        width: 50%;
        float: left; } }
    @media screen and (min-width: 1000px) {
      footer > div {
        -webkit-flex-basis: calc(100% / 3 - 24px);
            -ms-flex-preferred-size: calc(100% / 3 - 24px);
                flex-basis: calc(100% / 3 - 24px); } }
    @media screen and (min-width: 1600px) {
      footer > div {
        -webkit-flex-basis: calc(100% / 3 - 96px);
            -ms-flex-preferred-size: calc(100% / 3 - 96px);
                flex-basis: calc(100% / 3 - 96px); } }
    footer > div:last-of-type {
      -webkit-flex-basis: 100%;
          -ms-flex-preferred-size: 100%;
              flex-basis: 100%;
      text-align: center;
      margin: 24px 0 12px; }
  footer .icon-github_badge {
    font-size: 2em;
    color: #707070;
    transition: all 0.3s ease-in-out; }
    footer .icon-github_badge:hover {
      color: #b0b0b0; }
  footer h4 {
    color: #707070;
    margin-bottom: 1em; }
    @media screen and (min-width: 1000px) {
      footer h4 {
        text-align: left; } }
  footer p {
    color: #707070;
    margin-top: 0;
    font-size: 85%;
    line-height: 1.625;
    text-align: left; }
