html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block; }

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

a {
  background: 0 0; }

a:active, a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button, select {
  text-transform: none; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], html input[disabled] {
  cursor: default; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
  height: auto; }

input[type=search] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: 700; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td, th {
  padding: 0; }

* {
  box-sizing: border-box; }

body {
  background: #f0f0f0;
  color: #f0f0f0;
  font-family: 'Neue Haas Unica W01', 'Nimbus Sans L', Helvetica, Arial, sans-serif;
  font-size: 1em;
  line-height: 1.5; }

img {
  max-width: 100%;
  height: auto; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Neue Haas Unica W01', Impact;
  text-align: center;
  font-weight: 300; }

h1:after {
  content: '';
  width: 160px;
  height: 4px;
  display: block;
  margin: 24px auto;
  background: #a83a24; }

p {
  font-size: 1em;
  line-height: 1.5;
  margin: 1.5em 0; }

a, a:visited {
  color: #286167;
  text-decoration: none; }

a:hover {
  color: #a83a24; }

h1 {
  font-size: 1.9375em;
  line-height: 1.54839em;
  margin-top: 1.54839em;
  margin-bottom: 0.77419em; }

h2 {
  font-size: 1.5625em;
  line-height: 1.92em;
  margin-top: 1.92em;
  margin-bottom: 0.96em; }

h3 {
  font-size: 1.25em;
  line-height: 1.2em;
  margin-top: 1.2em;
  margin-bottom: 1.2em; }

h4 {
  font-size: 1em;
  line-height: 1.5em;
  margin-top: 1.5em;
  margin-bottom: 1.5em; }

.main-header {
  width: 100%;
  margin: 24px 0 0;
  padding: 0 60px; }
  @media screen and (min-width: 1000px) {
    .main-header {
      height: 50px;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-align-items: baseline;
          -ms-flex-align: baseline;
              align-items: baseline; } }

.logo, .tagline, .main-header nav {
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1; }

.logo h2 {
  margin: 0;
  font-weight: 700;
  line-height: 1;
  letter-spacing: -1px;
  text-align: left; }
.logo span {
  color: #a83a24; }

.tagline p {
  color: #f0f0f0;
  font-size: 100%;
  font-variant: small-caps;
  font-weight: 300;
  line-height: 1; }
  @media screen and (min-width: 1000px) {
    .tagline p {
      text-align: center; } }

.main-header nav ul {
  margin: 0;
  padding: 0;
  list-style: none; }
  @media screen and (min-width: 1000px) {
    .main-header nav ul {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-justify-content: flex-end;
          -ms-flex-pack: end;
              justify-content: flex-end; } }
  @media screen and (min-width: 1000px) {
    .main-header nav ul li:not(:last-of-type) {
      margin-right: 20px; } }
  @media screen and (min-width: 1200px) {
    .main-header nav ul li:not(:last-of-type) {
      margin-right: 40px; } }
  .main-header nav ul li a {
    color: #e3e3e3;
    font-size: 75%;
    font-weight: 700;
    text-transform: uppercase;
    padding: 16px 0; }
    .main-header nav ul li a:hover {
      color: #a83a24; }
    .main-header nav ul li a.active {
      color: #a83a24; }

.button {
  color: #f0f0f0;
  background: none;
  padding: 1.1em 0;
  letter-spacing: 2px;
  font-size: 75%;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  transition: background-color 0.2s, box-shadow 0.2s, color 0.2s;
  margin: 36px auto;
  max-width: 200px;
  display: block;
  box-shadow: inset 0 0 0.5em rgba(240, 240, 240, 0.4), 0 0 0.5em rgba(240, 240, 240, 0.4);
  border: 1px solid #f0f0f0; }
  .button:hover {
    color: #101E2A;
    background: #f0f0f0;
    box-shadow: inset 0 0 0 rgba(240, 240, 240, 0.4), 0 0 1.5em rgba(240, 240, 240, 0.4); }

div.sections {
  padding: 2px;
  margin: 0 auto;
  max-width: 1600px; }
  @media screen and (min-width: 600px) {
    div.sections {
      padding: 10px; } }
  @media screen and (min-width: 800px) {
    div.sections {
      padding: 20px; } }

section {
  min-height: 85vh; }
  @media screen and (min-width: 1400px) {
    section {
      min-height: 80vh; } }
  @media screen and (min-width: 1600px) {
    section {
      min-height: 75vh; } }

.home {
  background: #101E2A;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-align-items: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  position: relative; }
  .home .container {
    max-width: 390px;
    margin: 14vh auto 0; }
    @media screen and (min-width: 1400px) {
      .home .container {
        margin-top: 15vh; } }
    @media screen and (min-width: 1600px) {
      .home .container {
        margin-top: 16.5vh; } }
    .home .container p {
      text-align: center; }

.projects {
  background: #f0f0f0;
  position: relative; }

figure {
  margin: 2px 0 0;
  position: relative;
  cursor: pointer;
  overflow: hidden; }
  figure img {
    display: block;
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
    transition: all 0.2s ease-in-out; }
  figure figcaption {
    color: #f0f0f0;
    background: rgba(168, 58, 36, 0.95);
    padding: 24px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    figure figcaption .container {
      max-width: 300px;
      margin: 0 auto; }
      figure figcaption .container h2, figure figcaption .container h3 {
        margin-top: 0; }
      figure figcaption .container p {
        text-align: center; }
    @media screen and (min-width: 1000px) {
      figure figcaption {
        position: absolute;
        top: 0;
        left: 0;
        width: 33.3%;
        height: 100%;
        transition: all 0.2s ease-in-out; } }
  figure:nth-of-type(2n) figcaption {
    background: rgba(16, 30, 42, 0.95); }
    @media screen and (min-width: 1000px) {
      figure:nth-of-type(2n) figcaption {
        border-right: 0;
        left: auto;
        right: 0; } }
  figure:hover img {
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05); }
