html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block; }

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

a {
  background: 0 0; }

a:active, a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button, select {
  text-transform: none; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], html input[disabled] {
  cursor: default; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
  height: auto; }

input[type=search] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: 700; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td, th {
  padding: 0; }

* {
  box-sizing: border-box; }

body {
  background: #172027;
  color: #f0f0f0;
  font-family: 'Neue Haas Unica W01', 'Nimbus Sans L', Helvetica, Arial, sans-serif;
  font-size: 1em;
  line-height: 1.5;
  -webkit-tap-highlight-color: rgba(34, 47, 58, 0.25); }
  body.noscroll {
    overflow: hidden; }

img {
  max-width: 100%;
  height: auto; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Neue Haas Unica W01', Impact;
  text-align: center;
  font-weight: 300; }

h1:after {
  content: '';
  width: 160px;
  height: 4px;
  display: block;
  margin: 24px auto;
  background: #a83a24; }

p {
  font-size: 1em;
  line-height: 1.5;
  margin: 1.5em 0; }

a, a:visited {
  color: #286167;
  text-decoration: none; }

a:hover {
  color: #a83a24; }

h1 {
  font-size: 1.9375em;
  line-height: 1.54839em;
  margin-top: 1.54839em;
  margin-bottom: 0.77419em; }

h2 {
  font-size: 1.5625em;
  line-height: 1.92em;
  margin-top: 1.92em;
  margin-bottom: 0.96em; }

h3 {
  font-size: 1.25em;
  line-height: 1.2em;
  margin-top: 1.2em;
  margin-bottom: 1.2em; }

h4 {
  font-size: 1em;
  line-height: 1.5em;
  margin-top: 1.5em;
  margin-bottom: 1.5em; }

.main-header {
  background: #22303a;
  width: 100%;
  margin: 0;
  padding: 0 20px;
  position: absolute;
  transition: padding 0.2s ease-in-out, max-height 0.2s ease-in-out, opacity 0.3s ease-in-out;
  max-height: 50px;
  overflow: hidden;
  opacity: 1;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
  @media screen and (min-width: 700px) {
    .main-header {
      margin: 10px 0; } }
  @media screen and (min-width: 1000px) {
    .main-header {
      margin: 20px 0;
      padding: 0 60px;
      -webkit-align-items: baseline;
          -ms-flex-align: baseline;
              align-items: baseline;
      -webkit-flex-wrap: nowrap;
          -ms-flex-wrap: nowrap;
              flex-wrap: nowrap; } }
  .main-header.is-open {
    max-height: 500px; }
  .main-header.fixed {
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    background: #22303a;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    margin: 0;
    padding: 0 20px;
    position: fixed;
    top: 0;
    left: 50%;
    z-index: 100;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    max-width: 100%; }
    .main-header.fixed .logo h2 {
      font-size: 1.25em; }
    @media screen and (min-width: 700px) {
      .main-header.fixed {
        max-width: calc(100% - 40px); } }
    @media screen and (min-width: 1200px) {
      .main-header.fixed {
        max-width: 92%; } }
    @media screen and (min-width: 1600px) {
      .main-header.fixed {
        max-width: 1460px; } }
  .main-header.noscroll {
    opacity: 0; }

.logo, .tagline, .menu-toggle {
  -webkit-flex-basis: 33.33%;
      -ms-flex-preferred-size: 33.33%;
          flex-basis: 33.33%; }

nav.main-nav {
  -webkit-flex-basis: 100%;
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%;
  padding: 36px 0;
  text-align: center; }

@media screen and (min-width: 1000px) {
  .logo, .tagline, .menu-toggle, nav.main-nav {
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    padding: 0; } }

.logo h2 {
  margin: 0.75em 0;
  font-weight: 700;
  line-height: 1;
  letter-spacing: -1px;
  text-align: left; }
.logo span {
  color: #a83a24; }

.tagline p {
  color: #f0f0f0;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  text-transform: uppercase; }

nav.main-nav ul {
  margin: 0;
  padding: 0;
  list-style: none; }
  @media screen and (min-width: 1000px) {
    nav.main-nav ul {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-justify-content: flex-end;
          -ms-flex-pack: end;
              justify-content: flex-end; } }
  nav.main-nav ul li {
    padding: 16px 0; }
    @media screen and (min-width: 1000px) {
      nav.main-nav ul li {
        padding: 0; }
        nav.main-nav ul li:not(:last-of-type) {
          margin-right: 24px; } }
    @media screen and (min-width: 1200px) {
      nav.main-nav ul li:not(:last-of-type) {
        margin-right: 36px; } }
    nav.main-nav ul li a {
      color: #f0f0f0;
      font-size: 75%;
      font-weight: 700;
      text-transform: uppercase;
      padding: 16px 0; }
      nav.main-nav ul li a:hover {
        color: #a83a24; }
      nav.main-nav ul li a:focus {
        outline: 0; }
      nav.main-nav ul li a.active {
        color: #a83a24; }
nav.main-nav::after {
  content: '';
  display: block;
  background: #a83a24;
  width: 160px;
  height: 4px;
  margin: 36px auto 48px; }
  @media screen and (min-width: 1000px) {
    nav.main-nav::after {
      display: none; } }

.menu-toggle {
  width: 40px;
  height: 40px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end; }
  .menu-toggle:hover {
    cursor: pointer; }
  @media screen and (min-width: 1000px) {
    .menu-toggle {
      display: none; } }
  .menu-toggle .menu-bar, .menu-toggle .menu-bar:before, .menu-toggle .menu-bar:after {
    content: '';
    background: #f0f0f0;
    display: block;
    position: relative;
    width: 25px;
    height: 4px;
    transition: all 0.2s ease-in-out; }
  .menu-toggle .menu-bar:before {
    top: 8px; }
  .menu-toggle .menu-bar:after {
    top: -12px; }
  .menu-toggle.is-open .menu-bar {
    background: transparent; }
  .menu-toggle.is-open .menu-bar:before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transform-origin: center;
        -ms-transform-origin: center;
            transform-origin: center;
    top: 0; }
  .menu-toggle.is-open .menu-bar:after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    -webkit-transform-origin: center;
        -ms-transform-origin: center;
            transform-origin: center;
    top: -4px; }

.overlay {
  background: rgba(23, 32, 39, 0.95);
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.3s ease-in-out; }
  .overlay.is-visible {
    z-index: 101;
    opacity: 1; }

.modal {
  background: #22303a;
  box-shadow: none;
  position: fixed;
  top: 40px;
  left: 20%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 90%;
  height: calc(100vh - 60px);
  z-index: -1;
  opacity: 0;
  transition: all 0.3s ease-in-out; }
  @media screen and (min-width: 600px) {
    .modal {
      width: calc(100% - 40px);
      height: calc(100vh - 60px); } }
  @media screen and (min-width: 1200px) {
    .modal {
      width: 92%; } }
  @media screen and (min-width: 1600px) {
    .modal {
      top: 50px;
      width: 1460px;
      height: calc(100vh - 70px); } }
  .modal.is-visible {
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.4);
    left: 50%;
    z-index: 102;
    opacity: 1;
    overflow-y: scroll; }
  .modal h1 {
    margin-top: 1.7em; }
    .modal h1:after {
      margin: 12px auto 42px; }
  .modal img {
    margin: 0 auto;
    float: none;
    display: block; }
  .modal .content {
    max-width: 90%;
    margin: 0 auto; }
    @media screen and (min-width: 700px) {
      .modal .content {
        max-width: 600px; } }

.modal::-webkit-scrollbar {
  width: 12px; }

.modal::-webkit-scrollbar-track {
  background: #283844;
  border-radius: 10px; }

.modal::-webkit-scrollbar-thumb {
  background: #334857;
  border-radius: 10px; }
  .modal::-webkit-scrollbar-thumb:hover {
    background: #a83a24; }

.close {
  width: 40px;
  height: 40px;
  position: fixed;
  top: 0;
  right: 0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  opacity: 0;
  z-index: -1;
  transition: all 0.3s ease-in-out; }
  .close.is-visible {
    opacity: 1;
    z-index: 103;
    right: 5%; }
    @media screen and (min-width: 600px) {
      .close.is-visible {
        right: 20px; } }
    @media screen and (min-width: 1200px) {
      .close.is-visible {
        right: 10px; } }
  .close .close-bar, .close .close-bar:before, .close .close-bar:after {
    content: '';
    background: transparent;
    display: block;
    position: relative;
    width: 20px;
    height: 4px; }
  .close .close-bar:before, .close .close-bar::after {
    background: #f0f0f0;
    -webkit-transform-origin: center;
        -ms-transform-origin: center;
            transform-origin: center;
    transition: background 0.2s ease-in-out; }
  .close .close-bar:before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 0; }
  .close .close-bar:after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: -4px; }
  .close:hover {
    cursor: pointer; }
    .close:hover .close-bar:before, .close:hover .close-bar:after {
      background: #a83a24; }

.button {
  color: #a83a24;
  background: #f0f0f0;
  border: 1px solid #f0f0f0;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  padding: 1.1em 0;
  letter-spacing: 2px;
  font-size: 75%;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  margin: 36px auto;
  max-width: 200px;
  display: block;
  position: relative;
  transition: all 0.2s ease-in-out; }
  .button:hover {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    top: -1px; }

div.sections {
  padding: 0;
  margin: 0 auto;
  max-width: 100%;
  position: relative; }
  @media screen and (min-width: 700px) {
    div.sections {
      max-width: calc(100% - 40px); } }
  @media screen and (min-width: 1200px) {
    div.sections {
      max-width: 92%; } }
  @media screen and (min-width: 1600px) {
    div.sections {
      max-width: 1460px; } }

section {
  min-height: 68vh; }
  @media screen and (min-width: 1000px) {
    section {
      min-height: 85vh; } }
  @media screen and (min-width: 1600px) {
    section {
      min-height: 75vh; } }

.home {
  background: #22303a;
  position: relative;
  margin: 0 0 20px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-align-items: baseline;
      -ms-flex-align: baseline;
          align-items: baseline; }
  .home .container {
    max-width: 390px;
    margin: 21vh auto 0; }
    @media screen and (min-width: 1000px) {
      .home .container {
        margin-top: 24vh; } }
    .home .container p {
      text-align: center; }

.projects {
  background: #172027;
  position: relative; }

figure {
  margin: 0 0 20px;
  position: relative;
  cursor: pointer;
  overflow: hidden; }
  figure img {
    display: block; }
  figure figcaption {
    color: #f0f0f0;
    background: rgba(168, 58, 36, 0.95);
    padding: 24px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    figure figcaption .container {
      max-width: 90%;
      margin: 0 auto; }
      @media screen and (min-width: 1000px) {
        figure figcaption .container {
          max-width: 300px; } }
      figure figcaption .container h2, figure figcaption .container h3 {
        margin-top: 0; }
      figure figcaption .container p {
        text-align: center; }
    @media screen and (min-width: 1000px) {
      figure figcaption {
        position: absolute;
        top: 0;
        left: 0;
        width: 33.3%;
        height: 100%;
        transition: all 0.2s ease-in-out; } }
  figure:nth-of-type(2n) figcaption {
    background: #22303a; }
    @media screen and (min-width: 1000px) {
      figure:nth-of-type(2n) figcaption {
        border-right: 0;
        left: auto;
        right: 0; } }
  figure:nth-of-type(2n) .button {
    color: #172027; }

.about {
  background: #22303a;
  min-height: 100vh; }

.contact {
  background: #a83a24;
  min-height: 100vh; }

footer {
  background: #22303a;
  min-height: 25vh; }
