@font-face {
	font-family: 'icomoon';
	src:url('/fonts/icomoon.eot?da08a');
	src:url('/fonts/icomoon.eot?da08a#iefix') format('embedded-opentype'),
		url('/fonts/icomoon.ttf?da08a') format('truetype'),
		url('/fonts/icomoon.woff?da08a') format('woff'),
		url('/fonts/icomoon.svg?da08a#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-github_badge:before {
	content: "\e609";
}
.icon-jquery:before {
	content: "\e650";
}
.icon-sass:before {
	content: "\e64b";
}
.icon-html5:before {
	content: "\e636";
}
.icon-joomla:before {
	content: "\e641";
}
.icon-less:before {
	content: "\e658";
}
.icon-gulp:before {
	content: "\e663";
}
.icon-code:before {
	content: "\e696";
}
.icon-responsive:before {
	content: "\e697";
}
.icon-chevron-thin-left:before {
	content: "\e902";
}
.icon-chevron-thin-right:before {
	content: "\e903";
}
.icon-quote:before {
	content: "\e904";
}
.icon-notification:before {
	content: "\e906";
}
.icon-popup:before {
	content: "\e907";
}
