*
  box-sizing: border-box

body
  background: $bg-color
  color: $text-color
  font-family: $base-font
  font-size: $base-font-size
  line-height: $base-line-height
  -webkit-tap-highlight-color: transparentize($bg-lighter, 0.75)

  &.noscroll
    overflow: hidden

img
  max-width: 100%
  height: auto


// Media Query Mixin
=media($device)
  @media screen and (min-width: $device)
    @content

// Clearfix
%clearfix
  &:after
    content: ''
    display: table
    clear: both
