h1, h2, h3, h4, h5, h6
  font-family: $heading-font
  text-align: center
  font-weight: 300

h1:after
	 content: ''
	 width: 160px
	 height: 4px
	 display: block
	 margin: 24px auto
	 background: $primary

p
  font-size: $base-font-size
  line-height: $base-line-height
  margin: 1.5em 0

a, a:visited
  color: $link-color
  text-decoration: none

a:hover
  color: $link-color-hover

//Typography extends
.small-bold
  font-size: 75%
  font-weight: 700
  text-transform: uppercase
