// Main Colors
$bg-color: #172027
$bg-lighter: lighten($bg-color, 5%)
$bg-darker: darken($bg-color, 2%)
$primary: #a83a24
$secondary: #286167
$neutral: #e5e5e5
$text-color: $neutral
$heading-color: $text-color
$link-color: $primary
$link-color-hover: $primary

// Typography Vars
$base-font: 'Neue Haas Unica W01', 'Nimbus Sans L', Helvetica, Arial, sans-serif
$heading-font: $base-font
$base-font-size: 1em
$base-line-height: 1.5

// Breakpoints
$xsmall: 360px
$xsmall-med: 460px
$small: 600px
$small-med: 700px
$medium-small: 750px
$medium: 800px
$nav-collapse: 1000px
$big: 1200px
$large: 1400px
$huge: 1600px

// Sections
$sections-initial-width: 100%
$sections-medium-width: calc(100% - 40px)
$sections-large-width: 92%
$sections-max-width: 1460px
$sections-border: 20px solid $bg-color

// Container
$container-small-width: 290px
$container-medium-width: 325px
$container-large-width: 465px

// Content
$content-initial-width: calc(100% - 40px)
$content-max-width: 940px

$project-initital-width: 90%
$project-max-width: 300px
