// Main Colors
$bg-color: #172027
$bg-lighter: lighten($bg-color, 6%)
$bg-darker: darken($bg-color, 2%)
$primary: #a83a24
$secondary: #286167
$neutral: #f0f0f0
$text-color: $neutral
$heading-color: $text-color
$link-color: $primary
$link-color-hover: $primary

// Typography Vars
$base-font: 'Neue Haas Unica W01', 'Nimbus Sans L', Helvetica, Arial, sans-serif
$heading-font: $base-font
$base-font-size: 1em
$base-line-height: 1.5

// Breakpoints
$small: 600px
$small-med: 700px
$medium: 800px
$nav-collapse: 1000px
$big: 1200px
$large: 1400px
$huge: 1600px


// Container
$container-initial-width: 100%
$container-medium-width: calc(100% - 40px)
$container-large-width: 92%
$container-max-width: 1460px
