.about
  background: $bg-lighter
  padding: 60px 0 0

  header
    text-align: center

    img
      max-width: 74px

    h1
      margin: 0.35em 0 0.75em

      &::after
        margin: 20px auto 0

  article
    max-width: 460px
    margin: 0 auto 120px
