.about
  background: $bg-lighter
  border-top: $sections-border
  padding: 0

  header
    text-align: center
    margin: 0 auto

    .container
      padding: 48px 0 0

  .article-container
    overflow: hidden
    margin: 48px auto 80px
    max-width: $article-initial-width

    +media($medium)
      margin: 48px auto 140px
      max-width: $article-medium-width

    +media($big)
      max-width: $article-max-width

    +media($huge)
      margin: 48px auto 190px

    p
      text-align: left

      &:first-of-type
        margin-top: 0

    img
      max-width: 170px
      margin: 0 auto
      display: block
      +media($xsmall-med)
        float: left
        max-width: calc(100% / 3)
        margin: 7px 20px 20px 0
      +media($medium-small)
        max-width: calc((100% / 3) - 20px)
