.about
  background: $bg-lighter
  padding: 0

  header
    text-align: center
    margin: 0 auto

    .container
      padding: 60px 0 0
      margin: 0 auto
      max-width: 460px

    img
      max-width: 100px

    h1
      margin: 0.85em 0 0

      &:after
        margin: 20px auto 0

  article
    max-width: 620px
    margin: 0 auto 120px
    padding-top: 24px
