footer
  background: darken($bg-lighter, 2.5%)
  min-height: 240px
  padding: 60px
  display: flex
  justify-content: space-between
  flex-wrap: wrap

  > div
    flex-basis: calc(100% / 3 - 96px)

    p.address
      width: 50%
      float: left

  .icon-github_badge
    flex-basis: 100%
    text-align: center
    margin: 12px 0
    font-size: 2em
    color: darken($neutral, 50%)
    transition: all .3s ease-in-out

    &:hover
      color: $secondary

  h4
    color: darken($neutral, 50%)
    margin-bottom: 1em
    text-align: left

  p
    color: darken($neutral, 50%)
    margin-top: 0
    font-size: 85%
