.home, .thanks
  background: $bg-lighter
  position: relative
  margin: 0
  display: flex
  min-height: 72.5vh

  +media($small)
    min-height: 70vh
  +media($nav-collapse)
    min-height: 80vh
  +media($large)
    min-height: 82.5vh


  .container
    margin: 20vh auto 0

    +media($small)
      margin: 21vh auto 0

    +media($nav-collapse)
      margin: 24vh auto 0

    +media($large)
      margin: 27.5vh auto 0

    p
      text-align: center
