.projects
  background: $bg-color
  position: relative

figure
  margin: 20px 0 0
  position: relative
  cursor: pointer
  overflow: hidden

  img
    display: block

  figcaption
    color: $text-color
    background: transparentize($primary, 0.05)
    padding: 24px
    display: flex
    align-items: center

    .container
      max-width: 300px
      margin: 0 auto

      h2, h3
        margin-top: 0

      p
        text-align: center

    +media ($nav-collapse)
      position: absolute
      top: 0
      left: 0
      width: 33.3%
      height: 100%
      transition: all .2s ease-in-out

  &:nth-of-type(2n)
    figcaption
      background: $bg-lighter
      +media ($nav-collapse)
        border-right: 0
        left: auto
        right: 0
