div.sections
  padding: 2px
  margin: 0 auto
  max-width: $container-max-width

  +media($small)
    padding: 0 10px

  +media($medium)
    padding: 0 20px

section
  min-height: 85vh

  +media($large)
    min-height: 80vh

  +media($huge)
    min-height: 75vh
