div.sections
  padding: 0
  margin: 0 auto
  position: relative
  overflow: hidden
  max-width: $sections-initial-width

  +media($small-med)
      max-width: $sections-medium-width

  +media($big)
      max-width: $sections-large-width

  +media($huge)
      max-width: $sections-max-width

section
  min-height: 72.5vh

// Section Headings Container
.container
  margin: 0 auto
  max-width: $container-small-width

  +media($xsmall)
    max-width: $container-medium-width

  +media($small)
    max-width: $container-large-width

// Section Content container
.content-container
  margin: 0 auto
  max-width: $content-initial-width

  +media($small-med)
    max-width: $content-max-width
