<section id="about" class="about">
  <article>
    <header>
      <div class="container">
        <h1>Mein Name ist Sascha Mersch, ich bin Webdesigner in Berlin.</h1>
      </div>
    </header>
    <div class="article-container">
      <img src="img/sascha-mersch.png" alt="Sascha Mersch"/>
      <div class="article-content">
        <p>Ich gestalte und entwickle erfolgreiche responsive Websites für Unternehmen, Locations, Selbstständige und Künstler. Mein Angebot umfasst dabei den gesamten Prozess vom Entwurf über die Gestaltung bis zur Umsetzung und Fertigstellung.</p>
        <p>Mit vielen meiner Kunden verbindet mich eine lange vertrauensvolle Zusammenarbeit, und so stehe ich auch nach dem Launch als kompetenter Ansprechpartner bei der Pflege und Weiterentwicklung der Website zur Seite.</p>
        <p>Mein Skillset erweitere ich ständig, um die besten Lösungen und Ergebnisse bieten zu können. Neben dem Webdesign sind meine Hauptinteressen Musik und die englische Sprache, so dass die Kommunikation auch international flüssig läuft.</p>
      </div>
    </div>
  </article>
  {% include clients.html %}
</section>
