<section id="about" class="about">
  <article>
    <header>
      <div class="container">
        <h1>Mein Name ist Sascha Mersch, ich bin Webdesigner in Berlin.</h1>
      </div>
    </header>
    <div class="article-container">
      <img src="img/sascha-mersch.png" alt="Sascha Mersch"/>
      <p>Ich erstelle erfolgreiche Websites für Unternehmen, Locations, Freiberufler und Selbstständige. Mein Angebot umfasst dabei den gesamten Prozess von der Konzeption über die Gestaltung bis zur Entwicklung.</p>
      <p>Mein Skillset erweitere ich ständig, um die besten Lösungen und Ergebnisse bieten zu können. Als kompetenter Ansprechpartner stehe ich auch nach dem Launch bei der Weiterentwicklung der Website zur Seite.</p>
      <p>Neben dem Webdesign sind meine Hauptinteressen Musik und die englische Sprache, so dass die Kommunikation auch international flüssig läuft.</p>
    </div>
  </article>
  {% include clients.html %}
</section>
