<div class="clients-wrap">
  {% for client in site.data.settings.clients %}
  <div class="content-container client {% if forloop.first %}active{% endif %}">
    <div class="client-info">
      <img src="img/clients/{{ client.image }}" alt="{{ client.name }}" />
      <strong class="client-name">{{ client.name }}</strong>
      <span class="client-company">{{ client.company }}</span>
    </div>
    <div class="client-text">
      <p>{{ client.text }}</p>
    </div>
  </div>
  {% endfor %}
  <div class="client-prev" onclick="clicky.log('#prev','Prev');"></div>
  <div class="client-next" onclick="clicky.log('#next','Next');"></div>
  <div class="client-counter">
    {% for client in site.data.settings.clients %}
    <div class="{% if forloop.first %}active{% endif %}"></div>
    {% endfor %}
  </div>
</div>
