<section id="contact" class="contact">
  <header>
    <h1>Sie möchten mit mir arbeiten?<br />Nehmen Sie Kontakt zu mir auf.</h1>
    <p>+49 (0)30 27574647<br /><a href="mailto:info@ichzweinull.com">info@ichzweinull.com</a></p>
  </header>
  <!-- <form class="awesome-form" method="POST" action="//formspree.io/info@ichzweinull.com"> -->
  <form class="contact-form">
    <input type="text" name="name" placeholder="Name">

    <input type="email" name="_replyto" placeholder="E-Mail-Adresse">

    <input type="tel" name="telefon" placeholder="Telefonnummer">

    <textarea name="message" placeholder="Nachricht"></textarea>

  <!-- <input type="hidden" name="_next" value="http://ichzweinull.com/danke/" />
  <input type="hidden" name="_subject" value="Nachricht Kontaktformular" /> -->

    <input type="submit" value="Absenden">
	</form>
</section>
