<section id="projects" class="projects">
  <figure>
    <img src="../img/personal-excellence.jpg" />
    <figcaption>
      <div class="container">
        <h2>Personal Excellence</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
        <span class="button">
          Projekt Ansehen
        </span>
      </div>
    </figcaption>
  </figure>
  <figure>
    <img src="../img/werk.jpg" />
    <figcaption>
      <div class="container">
        <h2>Werkraum</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
        <span class="button">
          Projekt Ansehen
        </span>
      </div>
    </figcaption>
  </figure>
  <figure>
    <img src="../img/drei.jpg" />
    <figcaption>
      <div class="container">
        <h2>Kleine Nachtrevue</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
        <span class="button">
          Projekt Ansehen
        </span>
      </div>
    </figcaption>
  </figure>
</section>
