<header class="main-header">
  <div class="logo">
    <h2><span>ich</span>zwei<span>.</span>null</h2>
  </div>
  <div class="tagline">
    <p>Webdesign &amp; Entwicklung</p>
  </div>
  <div class="menu-toggle">
    <span class="menu-bar">
    </span>
  </div>
  <nav class="main-nav">
    <ul>
      {% for item in site.data.settings.menu %}
      {% if forloop.first %}
      <li><a href="/">{{ item.title }}</a></li>
      {% else %}
      <li><a href="/#{{ item.url }}">{{ item.title }}</a></li>
      {% endif %}
      {% endfor %}
    </ul>
  </nav>
</header>
