.button
  color: $neutral
  background: none
  padding: 1.1em 0
  letter-spacing: 2px
  font-size: 75%
  font-weight: 400
  text-align: center
  text-transform: uppercase
  transition: background-color 0.2s, box-shadow 0.2s, color 0.2s
  margin: 36px auto
  max-width: 200px
  display: block
  box-shadow: inset 0 0 0.5em rgba(240,240,240, 0.4), 0 0 0.5em rgba(240,240,240, 0.4)
  border: 1px solid $neutral

  &:hover
    color: $bg-color
    background: $neutral
    box-shadow: inset 0 0 0 rgba(240,240,240, 0.4), 0 0 1.5em rgba(240,240,240, 0.4)
