.button
  display: block
  max-width: 200px
  margin: 36px auto 24px
  border: 1px solid
  padding: 16px
  font-size: 75%
  font-weight: 700
  letter-spacing: 2px
  line-height: 1
  text-align: center
  text-transform: uppercase
