.clients-wrap
  background: $secondary
  padding: 84px 0 120px
  position: relative

  .client
    position: relative
    display: none
    animation: animation 750ms linear both

    &.active
      display: block

// Single Client
.client-info
  text-align: center

  img
    max-width: 74px

  a
    color: $neutral

  .client-name
    display: block
    margin-top: 10px
    line-height: 0.25
    @extend .small-bold
    letter-spacing: 1px

  .client-company
    font-size: 60%
    text-transform: uppercase

.client-text
  p
    margin-top: 1em
    position: relative
    font-weight: 300
    line-height: 1.825
    font-size: 1.025em
    text-align: center

    +media($nav-collapse)
      font-size: $h3-font-size
      text-align: left

    &:before, &:after
      content: '\e904'
      font-family: icomoon
      display: inline
      position: absolute
      padding: 0
      line-height: 1
      color: $primary
      font-size: 1.625em

    &:before
      transform: rotate(180deg)
      margin: -0 0 0 -28px
      display: none
      +media($small)
        display: initial
      +media($nav-collapse)
        margin: -1px 0 0 -36px

    &:after
      margin: 5px 0 0 5px
      +media($nav-collapse)
        margin: 5px 0 0 5px

// Client Counter
.client-counter
  max-width: 100%
  text-align: center
  margin: 0
  position: absolute
  left: 50%
  bottom: 14.25%
  transform: translateX(-50%)

  +media($nav-collapse)
    margin: 48px auto 0
    position: relative
    left: auto
    bottom: auto
    transform: none

  > div
    width: 10px
    height: 10px
    background: lighten($secondary, 10%)
    border-radius: 50%
    display: inline-block
    margin: 0 10px 0 0
    cursor: pointer
    transition: all .2s ease-in-out

    &:last-of-type
      margin: 0

    &:hover, &.active
      background: lighten($secondary, 22.5%)

// Client Navigation
.client-prev, .client-next
  width: 40px
  height: 40px
  color: lighten($secondary, 22.5%)
  cursor: pointer
  font-size: 2.25em
  position: absolute
  bottom: 12.25%
  width: 50%
  transition: all .2s ease-in-out
  display: flex
  align-items: center
  justify-content: center
  -webkit-tap-highlight-color: transparent

  +media($nav-collapse)
    top: 50%
    transform: translateY(-50%)
    width: auto

  &:hover, &:focus, &:active
    color: lighten($secondary, 33.75%)

.client-prev
  &:before
    content: "\e902"
    font-family: icomoon

  left: 0
  +media($nav-collapse)
    left: 40px

.client-next
  &:before
    content: "\e903"
    font-family: icomoon

  right: 0
  +media($nav-collapse)
    right: 40px
