.clients-wrap
  background: $secondary
  padding: 80px 0 120px
  position: relative

  .client
    max-width: 620px
    position: relative
    margin: 0 auto
    display: none
    animation: animation 750ms linear both

    &.active
      display: block

// Single Client
.client-info
  text-align: center

  img
    max-width: 74px

  a
    color: $neutral

  .client-name
    display: block
    margin-top: 10px
    line-height: 0.25
    @extend .small-bold
    letter-spacing: 1px

  .client-company
    font-size: 60%
    text-transform: uppercase

.client-text
  p
    text-align: left
    font-size: $h3-font-size
    font-weight: 300
    line-height: 1.825
    margin-top: 1em
    position: relative

    &:before, &:after
      content: '\e904'
      font-family: icomoon
      display: inline
      position: absolute
      font-size: 1.825em
      padding: 0
      line-height: 1
      color: $primary

    &:before
      margin: -6px 0 0 -44px
      transform: rotate(180deg)

    &:after
      margin: 6px 0 0 10px

// Client Counter
.client-counter
  max-width: 100%
  margin: 48px auto 0
  text-align: center

  > div
    width: 10px
    height: 10px
    background: lighten($secondary, 10%)
    border-radius: 50%
    display: inline-block
    margin: 0 10px 0 0
    cursor: pointer
    transition: all .2s ease-in-out

    &:last-of-type
      margin: 0

    &:hover, &.active
      background: lighten($secondary, 22.5%)

// Client Navigation
.client-prev, .client-next
  width: 40px
  height: 40px
  color: lighten($secondary, 22.5%)
  cursor: pointer
  font-size: 2.25em
  position: absolute
  top: 50%
  transform: translateY(-50%)
  transition: all .2s ease-in-out
  display: flex
  align-items: center
  justify-content: center

  &:hover
    color: $primary


.client-prev
  left: 40px
  &:before
    content: "\e902"
    font-family: icomoon


.client-next
  right: 40px
  &:before
    content: "\e903"
    font-family: icomoon
