.main-header
  width: 100%
  margin: 30px 0 0
  padding: 0 60px
  position: relative
  transition: padding 0.15s ease-in-out

  +media($nav-collapse)
    height: 50px
    display: flex
    align-items: baseline

  &.fixed
    align-items: center
    background: $bg-lighter
    box-shadow: 0 1px 4px rgba(0,0,0,.4)
    margin: 0
    padding: 0 30px
    position: fixed
    top: 0
    left: 50%
    z-index: 100
    transform: translateX(-50%)
    max-width: calc(100% - 4px )

    .logo h2
      font-size: 1.25em

    +media($small)
      max-width: calc(100% - 20px)

    +media($medium)
      max-width: calc(100% - 40px)

    +media($container-max-width)
      max-width: calc(1500px - 40px)

.logo, .tagline, .main-header nav
    flex: 1

.logo
  h2
    margin: 0
    font-weight: 700
    line-height: 1
    letter-spacing: -1px
    text-align: left

  span
    color: $primary

.tagline
  p
    color: darken($neutral, 15%)
    font-size: 75%
    font-weight: 700
    line-height: 1
    text-transform: uppercase

    +media($nav-collapse)
      text-align: center
