.icons
  background: $bg-lighter
  &-container
    margin: 0 auto
    max-width: 72.5%
    padding: 84px 0 24px
    display: flex
    justify-content: space-between

  span
    color: lighten($bg-lighter, 15%)
    font-size: 2em
