.main-header nav

  ul
    margin: 0
    padding: 0
    list-style: none

    +media($nav-collapse)
      display: flex
      justify-content: flex-end

    li
      +media($nav-collapse)
        &:not(:last-of-type)
          margin-right: 20px
      +media($big)
        &:not(:last-of-type)
          margin-right: 40px

      a
        color: darken($neutral, 15%)
        font-size: 75%
        font-weight: 700
        text-transform: uppercase
        padding: 16px 0

        &:hover
          color: $primary

        &.active
          color: $primary
