.modal
  background: $bg-lighter
  box-shadow: none
  position: fixed
  top: 40px
  left: 20%
  transform: translateX(-50%)
  width: 90%
  height: calc(100vh - 60px)
  z-index: -1
  opacity: 0
  overflow-y: scroll
  transition: all 0.3s ease-in-out

  img
    margin: 0
    float: none
    display: block

  +media($small)
    width: $container-medium-width
    height: calc(100vh - 60px)

  +media($big)
    width: $container-large-width

  +media($huge)
    top: 50px
    width: $container-max-width
    height: calc(100vh - 70px)

  &.is-visible
    box-shadow: 0 1px 8px rgba(0,0,0,0.4)
    left: 50%
    z-index: 102
    opacity: 1

  h1.modal-title
    padding: 36px 0
    &:after
      margin: 12px auto 30px

  .modal-header
    background: $neutral
    padding: 84px 24px 0 0

  .modal-content
    padding: 48px 0
    max-width: 600px
    margin: 0 auto
    text-align: center

// Custom Chrome Scrollbars

.modal::-webkit-scrollbar
  width: 8px

.modal::-webkit-scrollbar-track
  background: lighten($bg-lighter, 3%)

.modal::-webkit-scrollbar-thumb
  background: $primary

  &:hover
    background: $primary
