.modal
  background: $bg-lighter
  box-shadow: none
  position: fixed
  top: 40px
  left: 20%
  transform: translateX(-50%)
  width: 90%
  height: calc(100vh - 60px)
  z-index: -1
  opacity: 0
  overflow-y: scroll
  transition: all 0.3s ease-in-out

  +media($small)
    width: $sections-medium-width
    height: calc(100vh - 60px)

  +media($big)
    width: $sections-large-width

  +media($huge)
    top: 50px
    width: $sections-max-width
    height: calc(100vh - 70px)

  &.is-visible
    box-shadow: 0 1px 8px rgba(0,0,0,0.4)
    left: 50%
    z-index: 102
    opacity: 1

  &:focus
    outline: 0

  img
    margin: 0
    float: none
    display: block

  // Modal Heading
  header
    display: flex
    justify-content: center
    align-items: center
    padding: 0
    height: 160px

    +media($small)
      height: 200px
    +media($small-med)
      height: 228px

  h1.modal-title
    font-size: 1.5em
    line-height: 1
    margin: 0
    &:after
      margin: 12px auto 0

    +media($small)
      font-size: $h1-font-size
      &:after
        margin: 24px auto 0

  // Modal Image
  .modal-header
    background: $neutral
    padding: 36px 12px 0 0

    +media($small)
      padding: 60px 12px 0 0
    +media($small-med)
      padding: 84px 24px 0 0

  // Modal Content
  .modal-content
    margin: 0 auto
    padding: 24px 0 48px
    max-width: 90%

    +media($small-med)
      padding: 42px 0 84px
      max-width: 620px

// Custom Chrome Scrollbars

.modal::-webkit-scrollbar
  width: 4px

  +media($medium)
    width: 8px

.modal::-webkit-scrollbar-track
  background: lighten($bg-lighter, 3%)

.modal::-webkit-scrollbar-thumb
  background: $primary

  &:hover
    background: $primary
