.main-header
  width: 100%
  margin: 24px 0 0
  padding: 0 60px

  +media($nav-collapse)
    height: 50px
    display: flex
    align-items: baseline

.logo, .tagline, .main-header nav
    flex: 1

.logo
  h2
    margin: 0
    font-weight: 700
    line-height: 1
    letter-spacing: -1px
    text-align: left

  span
    color: $primary

.tagline
  p
    color: $neutral
    font-size: 100%
    font-variant: small-caps
    font-weight: 300
    line-height: 1

    +media($nav-collapse)
      text-align: center
